In [10]:
import pandas as pd

In [11]:
car_details_df = pd.read_csv("../data/car_details.csv")
cars_overview_df = pd.read_csv("../data/cardekho_all_cars.csv")

print(f"Shape of car_details_df: {car_details_df.shape}")
print(f"Shape of cars_overview_df: {cars_overview_df.shape}")

Shape of car_details_df: (37814, 94)
Shape of cars_overview_df: (38071, 47)

/var/folders/vt/5_mmhf_d5gd9_w9qt3c4rvlw0000gn/T/ipykernel_47607/2599093068.py:2: DtypeWarning: Columns (25,43) have mixed types. Specify dtype option on import or set low_memory=False.
  cars_overview_df = pd.read_csv("../data/cardekho_all_cars.csv")

In [12]:
car_details_df.head()

,usedCarSkuId,top_features,comfort_features,interior_features,exterior_features,safety_features,Color,Engine Type,Displacement,Max Power,...,owner_type,price_segment_new,template_name_new,page_template,template_Type_new,experiment,Fuel Suppy System,Compression Ratio,Alloy Wheel Size,Ground Clearance Unladen
0,7111bf25-97af-47f9-867b-40879190d800,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Rem...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",Silver,K10B Engine,998.0,58.16bhp@6200rpm,...,first,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,NaN,NaN,NaN,NaN
1,c309efc1-efaf-4f82-81ad-dcb38eb36665,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",Grey,K10B Engine,998.0,58.2bhp@6000rpm,...,first,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,Intelligent-Gas Port Injection,11.0:1,NaN,NaN
2,7609f710-0c97-4f00-9a47-9b9284b62d3a,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Power Adjustable E...","['Centeral Locking', 'Power Door Locks', 'Chil...",Silver,i-VTEC Petrol Engine,1198.0,86.7bhp@6000rpm,...,second,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,NaN,NaN,NaN,NaN
3,278b76e3-5539-4a5e-ae3e-353a2e3b6d7d,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Low...","['Air Conditioner', 'Heater', 'Electronic Mult...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",Silver,K Series Petrol Engine,998.0,58.2bhp@6200rpm,...,second,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,MPFI,NaN,13,NaN
4,b1eab99b-a606-48dd-a75b-57feb8a9ad92,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Power Adjustable E...","['Anti Lock Braking System', 'Brake Assist', '...",White,K15C,1462.0,86.63bhp@5500rpm,...,first,10+lakh,used cardetail v2,Used Car > Detail Page,used,control,NaN,12.0+-.03,NaN,NaN

In [13]:
cars_overview_df.head()

,position,loc,myear,bt,tt,ft,km,ip,pi,images,...,dynx_itemid2,dynx_totalvalue,leadForm,leadFormCta,offers,compare,brandingIcon,pageType,carType,corporateId
0,1,Gomti Nagar,2016,Hatchback,Manual,CNG,"69,162",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,4312,370000,0,NaN,{},True,https://images10.gaadi.com/listing/icons/Certi...,ucr,corporate,13
1,2,Borivali West,2015,Hatchback,Manual,CNG,"45,864",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,3984,365000,0,NaN,{},True,https://images10.gaadi.com/listing/icons/Certi...,ucr,corporate,13
2,3,JASOLA,2015,Sedan,Manual,CNG,"81,506",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,1177,421000,0,NaN,{},True,https://images10.gaadi.com/listing/icons/Certi...,ucr,corporate,13
3,4,jasola,2013,Hatchback,Manual,CNG,"1,15,893",0,NaN,[{'img': ''}],...,4351,240000,0,NaN,{},True,https://images10.gaadi.com/listing/icons/Certi...,ucr,corporate,13
4,5,mumbai g.p.o.,2022,MUV,Manual,CNG,"18,900",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,8957,1175000,1,View Seller Details,{},True,NaN,cls,partner,7

In [14]:
# Merge the two dataframes by usedCarSkuId
cars_df = pd.merge(cars_overview_df, car_details_df, on="usedCarSkuId")
print(f"Shape of cars_df: {cars_df.shape}")

Shape of cars_df: (37814, 140)

In [15]:
cars_df.head()

,position,loc,myear,bt,tt,ft,km,ip,pi,images,...,owner_type,price_segment_new,template_name_new,page_template,template_Type_new,experiment,Fuel Suppy System,Compression Ratio,Alloy Wheel Size,Ground Clearance Unladen
0,1,Gomti Nagar,2016,Hatchback,Manual,CNG,"69,162",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,first,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,NaN,NaN,NaN,NaN
1,2,Borivali West,2015,Hatchback,Manual,CNG,"45,864",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,first,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,Intelligent-Gas Port Injection,11.0:1,NaN,NaN
2,3,JASOLA,2015,Sedan,Manual,CNG,"81,506",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,second,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,NaN,NaN,NaN,NaN
3,4,jasola,2013,Hatchback,Manual,CNG,"1,15,893",0,NaN,[{'img': ''}],...,second,2lakh-5lakh,used cardetail v2/corporate/13,Used Car > Detail Page,used,control,MPFI,NaN,13,NaN
4,5,mumbai g.p.o.,2022,MUV,Manual,CNG,"18,900",0,https://images10.gaadi.com/usedcar_image/origi...,[{'img': 'https://images10.gaadi.com/usedcar_i...,...,first,10+lakh,used cardetail v2,Used Car > Detail Page,used,control,NaN,12.0+-.03,NaN,NaN

In [19]:
# Save the merged dataframe to a csv file with the current date and time in the filename
filename = f"../data/cardekho_cars_{pd.Timestamp.now().strftime('%Y_%m_%d_%H_%M_%S')}.csv"
cars_df.to_csv(filename, index=False)